* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 1000px;
    background-color: blanchedalmond;
    padding-top: 60px;
}

.backbutton {
    width: 160px;
    height: 40px;
    background-color: rgb(108, 200, 62);
    border-radius: 8px;
    margin-left: 220px;
    margin-bottom: 10px;
    padding-left: 19px;
    padding-top: 11px;
}

.backbutton-text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.Box-1 {
    width: 70%;
    height: 700px;
    margin: auto;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 10px;
    background: white;
}

.text-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 15px
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}

a {
    text-decoration: none;
    color: white;
}